body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
  color: #333;
}

#timer {
  font-size: 2em;
  margin: 20px 0;
}

#controls button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
}

#start {
  background-color: #4caf50;
  color: white;
  border: none;
}

#reset {
  background-color: #ff5722;
  color: white;
  border: none;
}

#work {
  background-color: #4caf50;
  color: white;
  border: none;
}

#break {
  background-color: #2196f3;
  color: white;
  border: none;
}
