body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

textarea,
input {
  width: 100%;
  margin-bottom: 10px;
  resize: none;
}

.btn-container button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-container button:hover {
  background-color: #0056b3;
}

#result {
  background-color: #e9e9e9;
}
