body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
}

.board {
  max-width: 700px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 1px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 24px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.winner {
  background-color: yellow;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

button {
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
}
