body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.quote-container {
  margin: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
}

select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.quote-image {
  margin-top: 20px;
}

#generated-image {
  max-width: 100%;
}

#share {
  display: none;
}
